@import url(https://fonts.googleapis.com/css?family=Play);
/* COllapste */

a.catLink{
    display: flex;
}


/* Base Styles*/
html, body {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
a{
    text-decoration: none!important;;
    color: white!important;
}

tr.forum-topicview-row{
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}
/* Layout Styles*/
.website-content{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 10vh;
    font-family: 'Play', sans-serif;
}
footer,.website-content{
    background: #292727;
}
.l-head {
    background: #292727;
    padding-top: 20px;
    width: 100%;
    transition: all 1s;
}
.l-main {
    width: 100%;
    background: url("https://tetonist.files.wordpress.com/2014/04/img_1573.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Modules Styles*/
.logo {
    display: inline-block;
    margin-top: -10px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 5px 2px 2px black;
}
.menu {
    padding: 0px;
    background: rgba(255, 255, 255, .6);
    border-radius: 5px;
    transition: all 2s;
    border: 2px solid #0DB8DE;
}
.btn-danger{
    border: 2px solid #0DB8DE;
}
.menu__item {
    margin: 0px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
}
.section-1 {
    height: 768px;
}
.section-2 {
    height: 468px;
}
.main-msg {
    margin-top: 150px;
    text-align: center;
    background: rgba(225, 225, 225, .1);
}
.main-msg__btn {
    margin: 10px;
    padding: 10px 20px;
    color: inherit;
    font-weight: bold;
    text-align: center;
    background: rgba(175, 238, 238, .6);
}
/* State Styles*/
.is-menuSmaller {
    padding-top: 5px;
    height: 50px;
    background: rgba(175, 238, 238, .6);
}
.is-itemHov:hover {
    background: lightgray;
}

/* Forum Index style */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle;
}

input:focus {
    outline:none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {line-height: inherit;}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 80%;
    margin: auto;
    font-family: 'Play', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #777;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
    color: #FFF;
}

.forum-topicview-row {
    border-bottom: 1px solid #555;
}

td {
    background: #333;
    padding: 12px;
    font-size: 18px;
    color: #EEE;
}

.forum-topicsview-header {
    background-color: #444;
    color: #FFF;
}

.forum-topics-col-views {
    width: 70px;
    text-align: center;
}


.forum-topics-col-icon {
    width: 70px;
    color: #EEE;
    text-align: center;
}

.forum-topics-col-lastpost {
    width: 200px;
    text-align: center;
}

.forum-topics-col-lastpost p {
    font-size: 16px;
    color: #DDD;
}

.forum_footer_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    width: 100%;
}

.forum_ledgend_wrap {
    padding: 16px;
    color: #EEE;
}

.forum_ledgend_wrap  p {
    margin: 6px;
}

.subject__content{
    padding: 2rem;
    background: lightgrey;
    position: relative;
    color: #292727;
}
.subject__content h1{
    font-size: 2rem;

}
.post__status{
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: -70px;
    left: 0;
    background: darkslategrey;
}

.reponse__single{
    width: 100%;
    font-size: 2rem;
}

.reponse__single .reponse__content{
    text-align: left;
}

.reponse__single:nth-of-type(2n) .reponse__author{
    flex-direction: row-reverse!important;
}
.reponse__single:nth-of-type(2n) .reponse__content{
    text-align: right;
}

.reponse__author{
    padding: 1rem;
    background: lightgrey;
    color: #292727;
}


/* Redoo boostrap var */

.btn-primary {
    color: #fff;
    background-color:#777!important;
    border-color: #777!important;
}

:root {
    --bs-blue: #777!important;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #777!important;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


/* BOostrap login page */


.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}
textarea.form-control{
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}
input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

/* FOrum css */

.fa-arrow-alt-circle-down{
    padding-left: 10px;
}